//variables
//theme colors
$primary: #b3b5c5;
$secondary: #c81a94;
$error: #d43753;
$info: #f6c31c;
//color palette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "blue": #1919e4,
  "red": #e61919,
  "yellow": #e6e619,
  "black": black,
  "white": white,
);
// @debug map-get($map: $colors, $key: "red");
//@debug map-has-key($colors,"secondary");
//@debug map-remove($colors, "primary");
// @debug map-merge(
//   $map1: $colors,
//   $map2: (
//     "pink": #ffc0cb,
//   )
// );

//base fontSize
$base_font_size: 1rem;
$font_size_sm: $base_font_size * 0.75;
$font_size_lg: $base_font_size * 1.5;
$font_size_xl: $base_font_size * 2;
$font_size_xxl: $base_font_size * 2.5;

//base padding and margin
$base_padding: 0.5rem;

//border
$base_border_thickness: 1px;
$base_border_radius: 20px;

//test

.test-btn {
  background-color: map-get($map: $colors, $key: "yellow");
}
