@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.test-btn {
  background-color: #e6e619;
}

* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: purple;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: orange;
  }
}
@media (min-width: 1400px) {
  .responsive-test {
    color: pink;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333;
  }

  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667;
  }

  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25;
  }

  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333;
  }

  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667;
  }

  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50;
  }

  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333;
  }

  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667;
  }

  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75;
  }

  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333;
  }

  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667;
  }

  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100;
  }
}
.text-primary {
  color: #b3b5c5;
}

.text-hover-primary:hover:hover {
  color: #b3b5c5;
}

.bg-primary {
  background-color: #b3b5c5;
}

.text-primary-light-1 {
  color: #bbbccb;
}

.text-hover-primary-light-1:hover:hover {
  color: #bbbccb;
}

.bg-primary-light-1 {
  background-color: #bbbccb;
}

.text-primary-light-2 {
  color: #c2c4d1;
}

.text-hover-primary-light-2:hover:hover {
  color: #c2c4d1;
}

.bg-primary-light-2 {
  background-color: #c2c4d1;
}

.text-primary-light-3 {
  color: #cacbd6;
}

.text-hover-primary-light-3:hover:hover {
  color: #cacbd6;
}

.bg-primary-light-3 {
  background-color: #cacbd6;
}

.text-primary-light-4 {
  color: #d1d3dc;
}

.text-hover-primary-light-4:hover:hover {
  color: #d1d3dc;
}

.bg-primary-light-4 {
  background-color: #d1d3dc;
}

.text-primary-light-5 {
  color: #d9dae2;
}

.text-hover-primary-light-5:hover:hover {
  color: #d9dae2;
}

.bg-primary-light-5 {
  background-color: #d9dae2;
}

.text-primary-light-6 {
  color: #e1e1e8;
}

.text-hover-primary-light-6:hover:hover {
  color: #e1e1e8;
}

.bg-primary-light-6 {
  background-color: #e1e1e8;
}

.text-primary-light-7 {
  color: #e8e9ee;
}

.text-hover-primary-light-7:hover:hover {
  color: #e8e9ee;
}

.bg-primary-light-7 {
  background-color: #e8e9ee;
}

.text-primary-light-8 {
  color: #f0f0f3;
}

.text-hover-primary-light-8:hover:hover {
  color: #f0f0f3;
}

.bg-primary-light-8 {
  background-color: #f0f0f3;
}

.text-primary-light-9 {
  color: #f7f8f9;
}

.text-hover-primary-light-9:hover:hover {
  color: #f7f8f9;
}

.bg-primary-light-9 {
  background-color: #f7f8f9;
}

.text-primary-dark-1 {
  color: #a1a3b1;
}

.text-hover-primary-dark-1:hover:hover {
  color: #a1a3b1;
}

.bg-primary-dark-1 {
  background-color: #a1a3b1;
}

.text-primary-dark-2 {
  color: #8f919e;
}

.text-hover-primary-dark-2:hover:hover {
  color: #8f919e;
}

.bg-primary-dark-2 {
  background-color: #8f919e;
}

.text-primary-dark-3 {
  color: #7d7f8a;
}

.text-hover-primary-dark-3:hover:hover {
  color: #7d7f8a;
}

.bg-primary-dark-3 {
  background-color: #7d7f8a;
}

.text-primary-dark-4 {
  color: #6b6d76;
}

.text-hover-primary-dark-4:hover:hover {
  color: #6b6d76;
}

.bg-primary-dark-4 {
  background-color: #6b6d76;
}

.text-primary-dark-5 {
  color: #5a5b63;
}

.text-hover-primary-dark-5:hover:hover {
  color: #5a5b63;
}

.bg-primary-dark-5 {
  background-color: #5a5b63;
}

.text-primary-dark-6 {
  color: #48484f;
}

.text-hover-primary-dark-6:hover:hover {
  color: #48484f;
}

.bg-primary-dark-6 {
  background-color: #48484f;
}

.text-primary-dark-7 {
  color: #36363b;
}

.text-hover-primary-dark-7:hover:hover {
  color: #36363b;
}

.bg-primary-dark-7 {
  background-color: #36363b;
}

.text-primary-dark-8 {
  color: #242427;
}

.text-hover-primary-dark-8:hover:hover {
  color: #242427;
}

.bg-primary-dark-8 {
  background-color: #242427;
}

.text-primary-dark-9 {
  color: #121214;
}

.text-hover-primary-dark-9:hover:hover {
  color: #121214;
}

.bg-primary-dark-9 {
  background-color: #121214;
}

.text-secondary {
  color: #c81a94;
}

.text-hover-secondary:hover:hover {
  color: #c81a94;
}

.bg-secondary {
  background-color: #c81a94;
}

.text-secondary-light-1 {
  color: #ce319f;
}

.text-hover-secondary-light-1:hover:hover {
  color: #ce319f;
}

.bg-secondary-light-1 {
  background-color: #ce319f;
}

.text-secondary-light-2 {
  color: #d348a9;
}

.text-hover-secondary-light-2:hover:hover {
  color: #d348a9;
}

.bg-secondary-light-2 {
  background-color: #d348a9;
}

.text-secondary-light-3 {
  color: #d95fb4;
}

.text-hover-secondary-light-3:hover:hover {
  color: #d95fb4;
}

.bg-secondary-light-3 {
  background-color: #d95fb4;
}

.text-secondary-light-4 {
  color: #de76bf;
}

.text-hover-secondary-light-4:hover:hover {
  color: #de76bf;
}

.bg-secondary-light-4 {
  background-color: #de76bf;
}

.text-secondary-light-5 {
  color: #e48dca;
}

.text-hover-secondary-light-5:hover:hover {
  color: #e48dca;
}

.bg-secondary-light-5 {
  background-color: #e48dca;
}

.text-secondary-light-6 {
  color: #e9a3d4;
}

.text-hover-secondary-light-6:hover:hover {
  color: #e9a3d4;
}

.bg-secondary-light-6 {
  background-color: #e9a3d4;
}

.text-secondary-light-7 {
  color: #efbadf;
}

.text-hover-secondary-light-7:hover:hover {
  color: #efbadf;
}

.bg-secondary-light-7 {
  background-color: #efbadf;
}

.text-secondary-light-8 {
  color: #f4d1ea;
}

.text-hover-secondary-light-8:hover:hover {
  color: #f4d1ea;
}

.bg-secondary-light-8 {
  background-color: #f4d1ea;
}

.text-secondary-light-9 {
  color: #fae8f4;
}

.text-hover-secondary-light-9:hover:hover {
  color: #fae8f4;
}

.bg-secondary-light-9 {
  background-color: #fae8f4;
}

.text-secondary-dark-1 {
  color: #b41785;
}

.text-hover-secondary-dark-1:hover:hover {
  color: #b41785;
}

.bg-secondary-dark-1 {
  background-color: #b41785;
}

.text-secondary-dark-2 {
  color: #a01576;
}

.text-hover-secondary-dark-2:hover:hover {
  color: #a01576;
}

.bg-secondary-dark-2 {
  background-color: #a01576;
}

.text-secondary-dark-3 {
  color: #8c1268;
}

.text-hover-secondary-dark-3:hover:hover {
  color: #8c1268;
}

.bg-secondary-dark-3 {
  background-color: #8c1268;
}

.text-secondary-dark-4 {
  color: #781059;
}

.text-hover-secondary-dark-4:hover:hover {
  color: #781059;
}

.bg-secondary-dark-4 {
  background-color: #781059;
}

.text-secondary-dark-5 {
  color: #640d4a;
}

.text-hover-secondary-dark-5:hover:hover {
  color: #640d4a;
}

.bg-secondary-dark-5 {
  background-color: #640d4a;
}

.text-secondary-dark-6 {
  color: #500a3b;
}

.text-hover-secondary-dark-6:hover:hover {
  color: #500a3b;
}

.bg-secondary-dark-6 {
  background-color: #500a3b;
}

.text-secondary-dark-7 {
  color: #3c082c;
}

.text-hover-secondary-dark-7:hover:hover {
  color: #3c082c;
}

.bg-secondary-dark-7 {
  background-color: #3c082c;
}

.text-secondary-dark-8 {
  color: #28051e;
}

.text-hover-secondary-dark-8:hover:hover {
  color: #28051e;
}

.bg-secondary-dark-8 {
  background-color: #28051e;
}

.text-secondary-dark-9 {
  color: #14030f;
}

.text-hover-secondary-dark-9:hover:hover {
  color: #14030f;
}

.bg-secondary-dark-9 {
  background-color: #14030f;
}

.text-error {
  color: #d43753;
}

.text-hover-error:hover:hover {
  color: #d43753;
}

.bg-error {
  background-color: #d43753;
}

.text-error-light-1 {
  color: #d84b64;
}

.text-hover-error-light-1:hover:hover {
  color: #d84b64;
}

.bg-error-light-1 {
  background-color: #d84b64;
}

.text-error-light-2 {
  color: #dd5f75;
}

.text-hover-error-light-2:hover:hover {
  color: #dd5f75;
}

.bg-error-light-2 {
  background-color: #dd5f75;
}

.text-error-light-3 {
  color: #e17387;
}

.text-hover-error-light-3:hover:hover {
  color: #e17387;
}

.bg-error-light-3 {
  background-color: #e17387;
}

.text-error-light-4 {
  color: #e58798;
}

.text-hover-error-light-4:hover:hover {
  color: #e58798;
}

.bg-error-light-4 {
  background-color: #e58798;
}

.text-error-light-5 {
  color: #ea9ba9;
}

.text-hover-error-light-5:hover:hover {
  color: #ea9ba9;
}

.bg-error-light-5 {
  background-color: #ea9ba9;
}

.text-error-light-6 {
  color: #eeafba;
}

.text-hover-error-light-6:hover:hover {
  color: #eeafba;
}

.bg-error-light-6 {
  background-color: #eeafba;
}

.text-error-light-7 {
  color: #f2c3cb;
}

.text-hover-error-light-7:hover:hover {
  color: #f2c3cb;
}

.bg-error-light-7 {
  background-color: #f2c3cb;
}

.text-error-light-8 {
  color: #f6d7dd;
}

.text-hover-error-light-8:hover:hover {
  color: #f6d7dd;
}

.bg-error-light-8 {
  background-color: #f6d7dd;
}

.text-error-light-9 {
  color: #fbebee;
}

.text-hover-error-light-9:hover:hover {
  color: #fbebee;
}

.bg-error-light-9 {
  background-color: #fbebee;
}

.text-error-dark-1 {
  color: #bf324b;
}

.text-hover-error-dark-1:hover:hover {
  color: #bf324b;
}

.bg-error-dark-1 {
  background-color: #bf324b;
}

.text-error-dark-2 {
  color: #aa2c42;
}

.text-hover-error-dark-2:hover:hover {
  color: #aa2c42;
}

.bg-error-dark-2 {
  background-color: #aa2c42;
}

.text-error-dark-3 {
  color: #94273a;
}

.text-hover-error-dark-3:hover:hover {
  color: #94273a;
}

.bg-error-dark-3 {
  background-color: #94273a;
}

.text-error-dark-4 {
  color: #7f2132;
}

.text-hover-error-dark-4:hover:hover {
  color: #7f2132;
}

.bg-error-dark-4 {
  background-color: #7f2132;
}

.text-error-dark-5 {
  color: #6a1c2a;
}

.text-hover-error-dark-5:hover:hover {
  color: #6a1c2a;
}

.bg-error-dark-5 {
  background-color: #6a1c2a;
}

.text-error-dark-6 {
  color: #551621;
}

.text-hover-error-dark-6:hover:hover {
  color: #551621;
}

.bg-error-dark-6 {
  background-color: #551621;
}

.text-error-dark-7 {
  color: #401119;
}

.text-hover-error-dark-7:hover:hover {
  color: #401119;
}

.bg-error-dark-7 {
  background-color: #401119;
}

.text-error-dark-8 {
  color: #2a0b11;
}

.text-hover-error-dark-8:hover:hover {
  color: #2a0b11;
}

.bg-error-dark-8 {
  background-color: #2a0b11;
}

.text-error-dark-9 {
  color: #150608;
}

.text-hover-error-dark-9:hover:hover {
  color: #150608;
}

.bg-error-dark-9 {
  background-color: #150608;
}

.text-info {
  color: #f6c31c;
}

.text-hover-info:hover:hover {
  color: #f6c31c;
}

.bg-info {
  background-color: #f6c31c;
}

.text-info-light-1 {
  color: #f7c933;
}

.text-hover-info-light-1:hover:hover {
  color: #f7c933;
}

.bg-info-light-1 {
  background-color: #f7c933;
}

.text-info-light-2 {
  color: #f8cf49;
}

.text-hover-info-light-2:hover:hover {
  color: #f8cf49;
}

.bg-info-light-2 {
  background-color: #f8cf49;
}

.text-info-light-3 {
  color: #f9d560;
}

.text-hover-info-light-3:hover:hover {
  color: #f9d560;
}

.bg-info-light-3 {
  background-color: #f9d560;
}

.text-info-light-4 {
  color: #fadb77;
}

.text-hover-info-light-4:hover:hover {
  color: #fadb77;
}

.bg-info-light-4 {
  background-color: #fadb77;
}

.text-info-light-5 {
  color: #fbe18e;
}

.text-hover-info-light-5:hover:hover {
  color: #fbe18e;
}

.bg-info-light-5 {
  background-color: #fbe18e;
}

.text-info-light-6 {
  color: #fbe7a4;
}

.text-hover-info-light-6:hover:hover {
  color: #fbe7a4;
}

.bg-info-light-6 {
  background-color: #fbe7a4;
}

.text-info-light-7 {
  color: #fcedbb;
}

.text-hover-info-light-7:hover:hover {
  color: #fcedbb;
}

.bg-info-light-7 {
  background-color: #fcedbb;
}

.text-info-light-8 {
  color: #fdf3d2;
}

.text-hover-info-light-8:hover:hover {
  color: #fdf3d2;
}

.bg-info-light-8 {
  background-color: #fdf3d2;
}

.text-info-light-9 {
  color: #fef9e8;
}

.text-hover-info-light-9:hover:hover {
  color: #fef9e8;
}

.bg-info-light-9 {
  background-color: #fef9e8;
}

.text-info-dark-1 {
  color: #ddb019;
}

.text-hover-info-dark-1:hover:hover {
  color: #ddb019;
}

.bg-info-dark-1 {
  background-color: #ddb019;
}

.text-info-dark-2 {
  color: #c59c16;
}

.text-hover-info-dark-2:hover:hover {
  color: #c59c16;
}

.bg-info-dark-2 {
  background-color: #c59c16;
}

.text-info-dark-3 {
  color: #ac8914;
}

.text-hover-info-dark-3:hover:hover {
  color: #ac8914;
}

.bg-info-dark-3 {
  background-color: #ac8914;
}

.text-info-dark-4 {
  color: #947511;
}

.text-hover-info-dark-4:hover:hover {
  color: #947511;
}

.bg-info-dark-4 {
  background-color: #947511;
}

.text-info-dark-5 {
  color: #7b620e;
}

.text-hover-info-dark-5:hover:hover {
  color: #7b620e;
}

.bg-info-dark-5 {
  background-color: #7b620e;
}

.text-info-dark-6 {
  color: #624e0b;
}

.text-hover-info-dark-6:hover:hover {
  color: #624e0b;
}

.bg-info-dark-6 {
  background-color: #624e0b;
}

.text-info-dark-7 {
  color: #4a3b08;
}

.text-hover-info-dark-7:hover:hover {
  color: #4a3b08;
}

.bg-info-dark-7 {
  background-color: #4a3b08;
}

.text-info-dark-8 {
  color: #312706;
}

.text-hover-info-dark-8:hover:hover {
  color: #312706;
}

.bg-info-dark-8 {
  background-color: #312706;
}

.text-info-dark-9 {
  color: #191403;
}

.text-hover-info-dark-9:hover:hover {
  color: #191403;
}

.bg-info-dark-9 {
  background-color: #191403;
}

.text-blue {
  color: #1919e4;
}

.text-hover-blue:hover:hover {
  color: #1919e4;
}

.bg-blue {
  background-color: #1919e4;
}

.text-blue-light-1 {
  color: #3030e7;
}

.text-hover-blue-light-1:hover:hover {
  color: #3030e7;
}

.bg-blue-light-1 {
  background-color: #3030e7;
}

.text-blue-light-2 {
  color: #4747e9;
}

.text-hover-blue-light-2:hover:hover {
  color: #4747e9;
}

.bg-blue-light-2 {
  background-color: #4747e9;
}

.text-blue-light-3 {
  color: #5e5eec;
}

.text-hover-blue-light-3:hover:hover {
  color: #5e5eec;
}

.bg-blue-light-3 {
  background-color: #5e5eec;
}

.text-blue-light-4 {
  color: #7575ef;
}

.text-hover-blue-light-4:hover:hover {
  color: #7575ef;
}

.bg-blue-light-4 {
  background-color: #7575ef;
}

.text-blue-light-5 {
  color: #8c8cf2;
}

.text-hover-blue-light-5:hover:hover {
  color: #8c8cf2;
}

.bg-blue-light-5 {
  background-color: #8c8cf2;
}

.text-blue-light-6 {
  color: #a3a3f4;
}

.text-hover-blue-light-6:hover:hover {
  color: #a3a3f4;
}

.bg-blue-light-6 {
  background-color: #a3a3f4;
}

.text-blue-light-7 {
  color: #babaf7;
}

.text-hover-blue-light-7:hover:hover {
  color: #babaf7;
}

.bg-blue-light-7 {
  background-color: #babaf7;
}

.text-blue-light-8 {
  color: #d1d1fa;
}

.text-hover-blue-light-8:hover:hover {
  color: #d1d1fa;
}

.bg-blue-light-8 {
  background-color: #d1d1fa;
}

.text-blue-light-9 {
  color: #e8e8fc;
}

.text-hover-blue-light-9:hover:hover {
  color: #e8e8fc;
}

.bg-blue-light-9 {
  background-color: #e8e8fc;
}

.text-blue-dark-1 {
  color: #1717cd;
}

.text-hover-blue-dark-1:hover:hover {
  color: #1717cd;
}

.bg-blue-dark-1 {
  background-color: #1717cd;
}

.text-blue-dark-2 {
  color: #1414b6;
}

.text-hover-blue-dark-2:hover:hover {
  color: #1414b6;
}

.bg-blue-dark-2 {
  background-color: #1414b6;
}

.text-blue-dark-3 {
  color: #1212a0;
}

.text-hover-blue-dark-3:hover:hover {
  color: #1212a0;
}

.bg-blue-dark-3 {
  background-color: #1212a0;
}

.text-blue-dark-4 {
  color: #0f0f89;
}

.text-hover-blue-dark-4:hover:hover {
  color: #0f0f89;
}

.bg-blue-dark-4 {
  background-color: #0f0f89;
}

.text-blue-dark-5 {
  color: #0d0d72;
}

.text-hover-blue-dark-5:hover:hover {
  color: #0d0d72;
}

.bg-blue-dark-5 {
  background-color: #0d0d72;
}

.text-blue-dark-6 {
  color: #0a0a5b;
}

.text-hover-blue-dark-6:hover:hover {
  color: #0a0a5b;
}

.bg-blue-dark-6 {
  background-color: #0a0a5b;
}

.text-blue-dark-7 {
  color: #080844;
}

.text-hover-blue-dark-7:hover:hover {
  color: #080844;
}

.bg-blue-dark-7 {
  background-color: #080844;
}

.text-blue-dark-8 {
  color: #05052e;
}

.text-hover-blue-dark-8:hover:hover {
  color: #05052e;
}

.bg-blue-dark-8 {
  background-color: #05052e;
}

.text-blue-dark-9 {
  color: #030317;
}

.text-hover-blue-dark-9:hover:hover {
  color: #030317;
}

.bg-blue-dark-9 {
  background-color: #030317;
}

.text-red {
  color: #e61919;
}

.text-hover-red:hover:hover {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.text-red-light-1 {
  color: #e93030;
}

.text-hover-red-light-1:hover:hover {
  color: #e93030;
}

.bg-red-light-1 {
  background-color: #e93030;
}

.text-red-light-2 {
  color: #eb4747;
}

.text-hover-red-light-2:hover:hover {
  color: #eb4747;
}

.bg-red-light-2 {
  background-color: #eb4747;
}

.text-red-light-3 {
  color: #ee5e5e;
}

.text-hover-red-light-3:hover:hover {
  color: #ee5e5e;
}

.bg-red-light-3 {
  background-color: #ee5e5e;
}

.text-red-light-4 {
  color: #f07575;
}

.text-hover-red-light-4:hover:hover {
  color: #f07575;
}

.bg-red-light-4 {
  background-color: #f07575;
}

.text-red-light-5 {
  color: #f38c8c;
}

.text-hover-red-light-5:hover:hover {
  color: #f38c8c;
}

.bg-red-light-5 {
  background-color: #f38c8c;
}

.text-red-light-6 {
  color: #f5a3a3;
}

.text-hover-red-light-6:hover:hover {
  color: #f5a3a3;
}

.bg-red-light-6 {
  background-color: #f5a3a3;
}

.text-red-light-7 {
  color: #f8baba;
}

.text-hover-red-light-7:hover:hover {
  color: #f8baba;
}

.bg-red-light-7 {
  background-color: #f8baba;
}

.text-red-light-8 {
  color: #fad1d1;
}

.text-hover-red-light-8:hover:hover {
  color: #fad1d1;
}

.bg-red-light-8 {
  background-color: #fad1d1;
}

.text-red-light-9 {
  color: #fde8e8;
}

.text-hover-red-light-9:hover:hover {
  color: #fde8e8;
}

.bg-red-light-9 {
  background-color: #fde8e8;
}

.text-red-dark-1 {
  color: #cf1717;
}

.text-hover-red-dark-1:hover:hover {
  color: #cf1717;
}

.bg-red-dark-1 {
  background-color: #cf1717;
}

.text-red-dark-2 {
  color: #b81414;
}

.text-hover-red-dark-2:hover:hover {
  color: #b81414;
}

.bg-red-dark-2 {
  background-color: #b81414;
}

.text-red-dark-3 {
  color: #a11212;
}

.text-hover-red-dark-3:hover:hover {
  color: #a11212;
}

.bg-red-dark-3 {
  background-color: #a11212;
}

.text-red-dark-4 {
  color: #8a0f0f;
}

.text-hover-red-dark-4:hover:hover {
  color: #8a0f0f;
}

.bg-red-dark-4 {
  background-color: #8a0f0f;
}

.text-red-dark-5 {
  color: #730d0d;
}

.text-hover-red-dark-5:hover:hover {
  color: #730d0d;
}

.bg-red-dark-5 {
  background-color: #730d0d;
}

.text-red-dark-6 {
  color: #5c0a0a;
}

.text-hover-red-dark-6:hover:hover {
  color: #5c0a0a;
}

.bg-red-dark-6 {
  background-color: #5c0a0a;
}

.text-red-dark-7 {
  color: #450808;
}

.text-hover-red-dark-7:hover:hover {
  color: #450808;
}

.bg-red-dark-7 {
  background-color: #450808;
}

.text-red-dark-8 {
  color: #2e0505;
}

.text-hover-red-dark-8:hover:hover {
  color: #2e0505;
}

.bg-red-dark-8 {
  background-color: #2e0505;
}

.text-red-dark-9 {
  color: #170303;
}

.text-hover-red-dark-9:hover:hover {
  color: #170303;
}

.bg-red-dark-9 {
  background-color: #170303;
}

.text-yellow {
  color: #e6e619;
}

.text-hover-yellow:hover:hover {
  color: #e6e619;
}

.bg-yellow {
  background-color: #e6e619;
}

.text-yellow-light-1 {
  color: #e9e930;
}

.text-hover-yellow-light-1:hover:hover {
  color: #e9e930;
}

.bg-yellow-light-1 {
  background-color: #e9e930;
}

.text-yellow-light-2 {
  color: #ebeb47;
}

.text-hover-yellow-light-2:hover:hover {
  color: #ebeb47;
}

.bg-yellow-light-2 {
  background-color: #ebeb47;
}

.text-yellow-light-3 {
  color: #eeee5e;
}

.text-hover-yellow-light-3:hover:hover {
  color: #eeee5e;
}

.bg-yellow-light-3 {
  background-color: #eeee5e;
}

.text-yellow-light-4 {
  color: #f0f075;
}

.text-hover-yellow-light-4:hover:hover {
  color: #f0f075;
}

.bg-yellow-light-4 {
  background-color: #f0f075;
}

.text-yellow-light-5 {
  color: #f3f38c;
}

.text-hover-yellow-light-5:hover:hover {
  color: #f3f38c;
}

.bg-yellow-light-5 {
  background-color: #f3f38c;
}

.text-yellow-light-6 {
  color: #f5f5a3;
}

.text-hover-yellow-light-6:hover:hover {
  color: #f5f5a3;
}

.bg-yellow-light-6 {
  background-color: #f5f5a3;
}

.text-yellow-light-7 {
  color: #f8f8ba;
}

.text-hover-yellow-light-7:hover:hover {
  color: #f8f8ba;
}

.bg-yellow-light-7 {
  background-color: #f8f8ba;
}

.text-yellow-light-8 {
  color: #fafad1;
}

.text-hover-yellow-light-8:hover:hover {
  color: #fafad1;
}

.bg-yellow-light-8 {
  background-color: #fafad1;
}

.text-yellow-light-9 {
  color: #fdfde8;
}

.text-hover-yellow-light-9:hover:hover {
  color: #fdfde8;
}

.bg-yellow-light-9 {
  background-color: #fdfde8;
}

.text-yellow-dark-1 {
  color: #cfcf17;
}

.text-hover-yellow-dark-1:hover:hover {
  color: #cfcf17;
}

.bg-yellow-dark-1 {
  background-color: #cfcf17;
}

.text-yellow-dark-2 {
  color: #b8b814;
}

.text-hover-yellow-dark-2:hover:hover {
  color: #b8b814;
}

.bg-yellow-dark-2 {
  background-color: #b8b814;
}

.text-yellow-dark-3 {
  color: #a1a112;
}

.text-hover-yellow-dark-3:hover:hover {
  color: #a1a112;
}

.bg-yellow-dark-3 {
  background-color: #a1a112;
}

.text-yellow-dark-4 {
  color: #8a8a0f;
}

.text-hover-yellow-dark-4:hover:hover {
  color: #8a8a0f;
}

.bg-yellow-dark-4 {
  background-color: #8a8a0f;
}

.text-yellow-dark-5 {
  color: #73730d;
}

.text-hover-yellow-dark-5:hover:hover {
  color: #73730d;
}

.bg-yellow-dark-5 {
  background-color: #73730d;
}

.text-yellow-dark-6 {
  color: #5c5c0a;
}

.text-hover-yellow-dark-6:hover:hover {
  color: #5c5c0a;
}

.bg-yellow-dark-6 {
  background-color: #5c5c0a;
}

.text-yellow-dark-7 {
  color: #454508;
}

.text-hover-yellow-dark-7:hover:hover {
  color: #454508;
}

.bg-yellow-dark-7 {
  background-color: #454508;
}

.text-yellow-dark-8 {
  color: #2e2e05;
}

.text-hover-yellow-dark-8:hover:hover {
  color: #2e2e05;
}

.bg-yellow-dark-8 {
  background-color: #2e2e05;
}

.text-yellow-dark-9 {
  color: #171703;
}

.text-hover-yellow-dark-9:hover:hover {
  color: #171703;
}

.bg-yellow-dark-9 {
  background-color: #171703;
}

.text-black {
  color: black;
}

.text-hover-black:hover:hover {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.text-hover-white:hover:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.B-card {
  display: block;
  padding: 0.5rem;
  margin: 10px;
  border-radius: 4;
  border: 1px solid #c2e71d;
}

.B-btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #e2e2e2;
}

.B-btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #b3b5c5;
}
.B-btn-primary:hover {
  background-color: #c1c3d0;
}

.B-btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #b3b5c5;
}
.B-btn-outlined-primary:hover {
  background-color: #b3b5c5;
}

.B-btn-light-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #b3b5c5;
  color: white;
}
.B-btn-light-complement-primary:hover {
  color: white;
  background-color: white;
}

.B-btn-dark-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #b3b5c5;
  color: white;
}
.B-btn-dark-complement-primary:hover {
  color: white;
  background-color: #7e7b61;
}

.B-btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #c81a94;
}
.B-btn-secondary:hover {
  background-color: #df1da5;
}

.B-btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #c81a94;
}
.B-btn-outlined-secondary:hover {
  background-color: #c81a94;
}

.B-btn-light-complement-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #c81a94;
  color: #8bf0a9;
}
.B-btn-light-complement-secondary:hover {
  color: white;
  background-color: #8bf0a9;
}

.B-btn-dark-complement-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #c81a94;
  color: #8bf0a9;
}
.B-btn-dark-complement-secondary:hover {
  color: white;
  background-color: #084119;
}

.B-btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #d43753;
}
.B-btn-error:hover {
  background-color: #d94c65;
}

.B-btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #d43753;
}
.B-btn-outlined-error:hover {
  background-color: #d43753;
}

.B-btn-light-complement-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #d43753;
  color: #b5efe5;
}
.B-btn-light-complement-error:hover {
  color: white;
  background-color: #b5efe5;
}

.B-btn-dark-complement-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #d43753;
  color: #b5efe5;
}
.B-btn-dark-complement-error:hover {
  color: white;
  background-color: #145e51;
}

.B-btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #f6c31c;
}
.B-btn-info:hover {
  background-color: #f7c935;
}

.B-btn-outlined-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #f6c31c;
}
.B-btn-outlined-info:hover {
  background-color: #f6c31c;
}

.B-btn-light-complement-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #f6c31c;
  color: #afc1fc;
}
.B-btn-light-complement-info:hover {
  color: white;
  background-color: #afc1fc;
}

.B-btn-dark-complement-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #f6c31c;
  color: #afc1fc;
}
.B-btn-dark-complement-info:hover {
  color: white;
  background-color: #051f74;
}

.B-btn-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #1919e4;
}
.B-btn-blue:hover {
  background-color: #2e2ee8;
}

.B-btn-outlined-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #1919e4;
}
.B-btn-outlined-blue:hover {
  background-color: #1919e4;
}

.B-btn-light-complement-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #1919e4;
  color: #f5f5a1;
}
.B-btn-light-complement-blue:hover {
  color: white;
  background-color: #f5f5a1;
}

.B-btn-dark-complement-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #1919e4;
  color: #f5f5a1;
}
.B-btn-dark-complement-blue:hover {
  color: white;
  background-color: #5a5a0a;
}

.B-btn-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #e61919;
}
.B-btn-red:hover {
  background-color: #e93030;
}

.B-btn-outlined-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #e61919;
}
.B-btn-outlined-red:hover {
  background-color: #e61919;
}

.B-btn-light-complement-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #e61919;
  color: #a3f5f5;
}
.B-btn-light-complement-red:hover {
  color: white;
  background-color: #a3f5f5;
}

.B-btn-dark-complement-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #e61919;
  color: #a3f5f5;
}
.B-btn-dark-complement-red:hover {
  color: white;
  background-color: #0a5c5c;
}

.B-btn-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #e6e619;
}
.B-btn-yellow:hover {
  background-color: #e9e930;
}

.B-btn-outlined-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #e6e619;
}
.B-btn-outlined-yellow:hover {
  background-color: #e6e619;
}

.B-btn-light-complement-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #e6e619;
  color: #a3a3f5;
}
.B-btn-light-complement-yellow:hover {
  color: white;
  background-color: #a3a3f5;
}

.B-btn-dark-complement-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #e6e619;
  color: #a3a3f5;
}
.B-btn-dark-complement-yellow:hover {
  color: white;
  background-color: #0a0a5c;
}

.B-btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: black;
}
.B-btn-black:hover {
  background-color: #0d0d0d;
}

.B-btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid black;
}
.B-btn-outlined-black:hover {
  background-color: black;
}

.B-btn-light-complement-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: black;
  color: #4d4d4d;
}
.B-btn-light-complement-black:hover {
  color: white;
  background-color: #4d4d4d;
}

.B-btn-dark-complement-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: black;
  color: #4d4d4d;
}
.B-btn-dark-complement-black:hover {
  color: white;
  background-color: black;
}

.B-btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: white;
}
.B-btn-white:hover {
  background-color: white;
}

.B-btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid white;
}
.B-btn-outlined-white:hover {
  background-color: white;
}

.B-btn-light-complement-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: white;
  color: white;
}
.B-btn-light-complement-white:hover {
  color: white;
  background-color: white;
}

.B-btn-dark-complement-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: white;
  color: white;
}
.B-btn-dark-complement-white:hover {
  color: white;
  background-color: #b3b3b3;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 1rem;
}

.pl-3 {
  padding-left: 2rem;
}

.pl-4 {
  padding-left: 3rem;
}

.pl-5 {
  padding-left: 4rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pr-3 {
  padding-right: 2rem;
}

.pr-4 {
  padding-right: 3rem;
}

.pr-5 {
  padding-right: 4rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pb-3 {
  padding-bottom: 2rem;
}

.pb-4 {
  padding-bottom: 3rem;
}

.pb-5 {
  padding-bottom: 4rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pt-3 {
  padding-top: 2rem;
}

.pt-4 {
  padding-top: 3rem;
}

.pt-5 {
  padding-top: 4rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 4rem;
}

.pr-0 {
  margin-right: 0;
}

.pr-1 {
  margin-right: 0.5rem;
}

.pr-2 {
  margin-right: 1rem;
}

.pr-3 {
  margin-right: 2rem;
}

.pr-4 {
  margin-right: 3rem;
}

.pr-5 {
  margin-right: 4rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 3rem;
}

.mb-5 {
  margin-bottom: 4rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 2rem;
}

.ml-4 {
  margin-left: 3rem;
}

.ml-5 {
  margin-left: 4rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 2.5rem;
}/*# sourceMappingURL=index.css.map */