//variables

//theme colors
$primary: #83c770 !default;
$secondary: #86d7eb !default;
$error: #d43753 !default;
$info: #f6c31c !default;

//color palette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "blue": #1919e4,
  "red": #e61919,
  "yellow": #e6e619,
  "black": black,
  "white": white,
);

//base fontSize
$base_font_size: 1rem !default;
$font_size_sm: $base_font_size * 0.75 !default;
$font_size_lg: $base_font_size * 1.5 !default;
$font_size_xl: $base_font_size * 2 !default;
$font_size_xxl: $base_font_size * 2.5 !default;

//base padding and margin
$base_padding: 0.5rem !default;

//border
$base_border_thickness: 1px !default;
$base_border_radius: 20px !default;

//boxShadow
$base-box-shadow: 1px 1px 1px #e1e1e1 !default;

//you can use debugs likes below

// @debug map-get($map: $colors, $key: "red");
//@debug map-has-key($colors,"secondary");
//@debug map-remove($colors, "primary");
// @debug map-merge(
//   $map1: $colors,
//   $map2: (
//     "pink": #ffc0cb,
//   )
// );
